<!--Start Header-->
<div ng-app="NorthwindApp" ng-controller="NorthwindCtrl">
    <div id="screensaver">
        <canvas id="canvas"></canvas>
        <i class="fa fa-lock" id="screen_unlock"></i>
    </div>
    <div id="modalbox">
        <div class="devoops-modal">
            <div class="devoops-modal-header">
                <div class="modal-header-name">
                    <span>Basic table</span>
                </div>
                <div class="box-icons">
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="devoops-modal-inner">
            </div>
            <div class="devoops-modal-bottom">
            </div>
        </div>
    </div>
    <header class="navbar">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="logo" class="col-xs-12 col-sm-4">
                    <a href="/">Northwind Systems</a>
                </div>
                <div id="top-panel" class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            <a href="#" class="show-sidebar">
                                <i class="fa fa-bars"></i>
                            </a>
                            <div id="search">
                                <input type="text" placeholder="search supplier table" ng-model="searchText" />
                                <i class="fa fa-search"></i>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-8 top-panel-right">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->
    <!--End Breadcrumb-->
    <!--Start Dashboard 1-->
    <div id="main" class="container-fluid" style="min-height: 460px;">
        <div class="row">
            <div id="sidebar-left"></div>
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-12">
                <div>
                    <img src="/Content/img/devoops_getdata.gif" class="devoops-getdata" alt="preloader" />
                </div>
                <div id="ajax-content">


                    <!--Start Breadcrumb-->
                    <div class="row">
                        <div id="breadcrumb" class="col-xs-12">
                            <ol class="breadcrumb">
                                <li><a href="#">Supplier Manager</a></li>
                            </ol>
                        </div>
                    </div>
                    <!--End Breadcrumb-->
                    <!--Start Dashboard 1-->
                    <div id="dashboard-header" class="row">
                        <div class="clearfix visible-xs"></div>
                    </div>
                    <!--End Dashboard 1-->
                    <!--Start Dashboard 2-->
                    <div class="row-fluid">
                        <div id="dashboard_tabs" class="col-xs-12 col-sm-12">
                            <!--Start Dashboard Tab 1-->
                            <div id="dashboard-overview" class="row" style="visibility: visible; position: relative;">
                                <div id="ow-marketplace" class="col-sm-12 col-md-6">
                                    <span ng-bind="messageText" ng-class="messageClass"></span>
                                    <button class="btn" data-toggle="modal" ng-click="TriggerAddSupplierModal()">Add Supplier</button>
                                    <h4 class="page-header">SUPPLIERS (Click row to show supplier's products)</h4>
                                    <table id="ticker-table" class="table m-table table-bordered table-hover table-heading">
                                        <thead>
                                            <tr>
                                                <th style="cursor: pointer" ng-click="SetOrder('CompanyName')">Name</th>
                                                <th style="cursor: pointer" ng-click="SetOrder('City')">City</th>
                                                <th style="cursor: pointer" ng-click="SetOrder('Country')">Country</th>
                                                <th colspan="3">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat-start="supplier in data.suppliers | filter: searchText | orderBy: orderProp " ng-if="!supplier.IsDeleted" ng-style="supplier.rowStyle" >
                                                <td ng-bind="supplier.CompanyName" style="font-weight: bold;" ng-click="GetSupplierProducts(supplier)"></td>
                                                <td ng-bind="supplier.City" ng-click="GetSupplierProducts(supplier)"></td>
                                                <td ng-bind="supplier.Country" ng-click="GetSupplierProducts(supplier)"></td>
                                                <td ng-click="TriggerUpdateSupplierModal(supplier)"><button class="btn-primary">Update</button></td>
                                                <td ng-click="TriggerAddProductModal(supplier)"><button class="btn-primary">Add Product</button></td>
                                                <td ng-click="DeleteSupplierPrompt(supplier)"><button class="btn-danger">Delete</button></td>
                                            </tr>
                                            <tr ng-repeat-end ng-if="ShowSupplierProducts(supplier)" >
                                                <td colspan="4" >
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th colspan="3"><span ng-bind="supplier.CompanyName"></span>'s Products</th>
                                                            </tr>
                                                            <tr>
                                                                <th>Product Name</th>
                                                                <th>Unit Price</th>
                                                                <th>Discontinued?</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="product in supplier.Products | filter: searchText">
                                                                <td ng-bind="product.ProductName" style="font-weight: bold;"></td>
                                                                <td style="text-align: right" ng-bind="product.UnitPrice | currency"></td>
                                                                <td ng-bind="product.Discontinued? 'Yes':'No'"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <div id="ow-activity" class="row">
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-5">
                                                <button type="button" id="dropdownSalesMonth" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    Select Month ({{FullMonthYear(selectedSalesMth)}})<span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownSalesMonth">
                                                    <li role="presentation" ng-repeat="mth in salesMonths"><a role="menuitem" tabindex="-1" href="#" ng-click="changeMonth(mth)">{{FullMonthYear(mth)}}</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-5">
                                                <button type="button" id="dropdownSortBy" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    Sort By ({{selectedSortOpt? selectedSortOpt : "Not Sorted"}})<span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownSortBy">
                                                    <li role="presentation" ng-repeat="sortOpt in sortOptions"><a role="menuitem" tabindex="-1" href="#" ng-click="changeSort(sortOpt)">{{sortOpt}}</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <jj-bar-chart jj-data="chartData"
                                                              jj-x-func="chartXFunc"
                                                              jj-y-func="chartYFunc"
                                                              jj-height="500"
                                                              jj-width="550"
                                                              jj-y-axis-text="yAxisText"
                                                              jj-title="barChartTitle"
                                                              jj-sort-by="barChartSortField"
                                                              jj-bar-mouseover="barChartMouseOver"
                                                              jj-bar-mouseout="barChartMouseOut" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Dashboard Tab 1-->

                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!--End Dashboard 2 -->
                    <div style="height: 40px;"></div>



                </div>
            </div>
            <!--End Content-->
        </div>
    </div>

    <!-- add supplier modal -->
    <div jj-modal jj-title="addUpdateText" show-modal="showAddSupplierModal">
        <div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4">Supplier Name</label>
                    <div class="col-md-8">
                        <div class="input-group col-md-12">
                            <input class="form-control" ng-model="supplierForm.CompanyName" placeholder="Company Name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-8 col-md-4">
                        <button class="btn btn-primary" ng-click="AddUpdateSupplierFunc()">{{addUpdateText}}</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <span ng-bind="messageText" ng-class="messageClass"></span>
            </div>
        </div>
    </div>

    <!-- add product modal -->
    <div jj-modal jj-title="addProductTitle" show-modal="showAddProductModal">
        <div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-4">Product Name</label>
                    <div class="col-md-8">
                        <div class="input-group col-md-12">
                            <input class="form-control" ng-model="productForm.ProductName" placeholder="Product Name" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-8 col-md-4">
                        <button class="btn btn-primary" ng-click="AddProduct()">Add Product</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <span ng-bind="messageText" ng-class="messageClass"></span>
            </div>
        </div>
    </div>

    <!-- delete supplier modal -->
    <div jj-modal jj-title="deleteSupplierTitle" show-modal="showDeleteSupplierModal">
        <div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <button class="btn btn-primary" ng-click="DeleteSupplier(deleteSupplier)">Continue Delete</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary" ng-click="CloseDeleteModal()">Cancel</button>
                </div>
            </div>
        </div>
        <div class="row">
            <span ng-bind="messageText" ng-class="messageClass"></span>
        </div>
    </div>
</div>